.App {
  text-align: center;
}

#app-header {
  width: 90%;
  margin: 0 auto 30px auto;
  height: 100px;
}

.main-container {
  width: 90%;
  margin: 50px auto;
}

#nav-import {
  position: absolute;
  top: 5%;
  right: 5%;
}

#nav-play {
  position: absolute;
  top: 5%;
  left: 5%;
}